/*first comment in this section
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡*/
#main {
    background:rgb(247, 243, 243) !important;
}
/*second comment here*/
#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

